In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [231]:
url='https://www.scrapethissite.com/pages/simple/'

In [217]:
country=[]
capital=[]
population=[]
area=[]

In [228]:
try:
    response=requests.get(url)
    response.raise_for_status()
except Exception as e:
    print(e)
else:
    response=requests.get(url)
    soup=BeautifulSoup(response.content,"html.parser")
    n=soup.find_all('h3')
    for i in n:
        con=i.get_text()
        country.append(con)
    
        capi=soup.find_all('div',class_='country-info')
    for i in capi:
        capitals=i.find('span',class_='country-capital').get_text(strip=True)
        populations=i.find('span',class_='country-population').get_text(strip=True)
        Areas =i.find('span',class_='country-area').get_text(strip=True)
        capital.append(capitals)
        population.append(populations)
        area.append(Areas)

clean=[item.replace('\n','').replace(',','')for item in country]
data={'country':clean,
      'capital':capital,
      'population':population,
      'Area':area
    }
data1=pd.DataFrame(data)

In [238]:
data1

,country,capital,population,Area
0,Andorra ...,Andorra la Vella,84000,468.0
1,United Arab Emirat...,Abu Dhabi,4975593,82880.0
2,Afghanistan ...,Kabul,29121286,647500.0
3,Antigua and Barbud...,St. John's,86754,443.0
4,Anguilla ...,The Valley,13254,102.0
...,...,...,...,...
745,Yemen ...,Sanaa,23495361,527970.0
746,Mayotte ...,Mamoudzou,159042,374.0
747,South Africa ...,Pretoria,49000000,1219912.0
748,Zambia ...,Lusaka,13460305,752614.0
749,Zimbabwe ...,Harare,11651858,390580.0